In [1]:
import pandas as pd  ##
import numpy as np   ##
from sqlalchemy import create_engine  ##
import pytz  ##

In [2]:
df_status = pd.read_csv("store status.csv")  ### Read the CSVs into dataframes

In [3]:
df_status.head()

              store_id  status                   timestamp_utc
0  8419537941919820732  active  2023-01-22 12:09:39.388884 UTC
1    54515546588432327  active  2023-01-24 09:06:42.605777 UTC
2  8377465688456570187  active  2023-01-24 09:07:26.441407 UTC
3  5955337179846162144  active  2023-01-24 09:08:07.634899 UTC
4  1169347689335808384  active  2023-01-24 09:08:18.436854 UTC

In [4]:
df_status.tail()

                    store_id    status                   timestamp_utc
1822075  9103029069217106077  inactive  2023-01-20 09:02:21.705125 UTC
1822076  5532343280896549215  inactive  2023-01-21 02:03:58.311087 UTC
1822077  3794430814933142786  inactive  2023-01-21 04:04:20.916254 UTC
1822078  4192592653801050907  inactive  2023-01-21 15:11:50.902575 UTC
1822079  3846497499881872792  inactive  2023-01-21 08:04:26.177456 UTC

In [5]:
df_status.sample(8)

                    store_id    status                   timestamp_utc
1674321  7681219113084292190  inactive  2023-01-25 07:09:31.984375 UTC
1207364  7899691756043177767    active  2023-01-18 21:03:30.456451 UTC
1495487  4311429323676837453  inactive  2023-01-21 19:06:37.545555 UTC
579320   2918967668033394239    active  2023-01-21 08:12:17.983936 UTC
567057   2179493412815945910    active  2023-01-18 15:35:36.320958 UTC
1121800  6286820251557686759    active  2023-01-21 04:02:01.670665 UTC
1463037  2624399680748347538  inactive  2023-01-20 14:02:28.108497 UTC
172521   8545404528920786751    active  2023-01-24 14:10:29.745153 UTC

In [6]:
df_status.shape ###

(1822080, 3)

In [7]:
df_business_hours = pd.read_csv("Menu hours.csv")

In [8]:
df_business_hours.head()

              store_id  day start_time_local end_time_local
0  1481966498820158979    4         00:00:00       00:10:00
1  1481966498820158979    2         00:00:00       00:10:00
2  1481966498820158979    0         00:00:00       00:10:00
3  1481966498820158979    1         00:00:00       00:10:00
4  1481966498820158979    5         00:00:00       00:10:00

In [9]:
df_business_hours.shape

(86198, 4)

In [10]:
df_timezone = pd.read_csv("Timezone.csv")

In [11]:
df_timezone.head()

              store_id    timezone_str
0  8139926242460185114     Asia/Beirut
1  5415949628544298339   America/Boise
2  3408529570017053440  America/Denver
3  9055649751952768824  America/Denver
4  4428372089193592098  America/Denver

In [12]:
df_timezone.shape

(13559, 2)

In [13]:
### JOINS
df_merged = df_status.merge(df_business_hours, on="store_id", how="left")

In [14]:
df_merged.head()

,store_id,status,timestamp_utc,day,start_time_local,end_time_local
0,8419537941919820732,active,2023-01-22 12:09:39.388884 UTC,NaN,NaN,NaN
1,54515546588432327,active,2023-01-24 09:06:42.605777 UTC,0.0,08:00:00,18:30:00
2,54515546588432327,active,2023-01-24 09:06:42.605777 UTC,6.0,08:00:00,18:30:00
3,54515546588432327,active,2023-01-24 09:06:42.605777 UTC,5.0,08:00:00,18:30:00
4,54515546588432327,active,2023-01-24 09:06:42.605777 UTC,2.0,08:00:00,18:30:00

In [15]:
df_merged = df_merged.merge(df_timezone, on="store_id", how="left")

In [16]:
df_merged.head()

,store_id,status,timestamp_utc,day,start_time_local,end_time_local,timezone_str
0,8419537941919820732,active,2023-01-22 12:09:39.388884 UTC,NaN,NaN,NaN,NaN
1,54515546588432327,active,2023-01-24 09:06:42.605777 UTC,0.0,08:00:00,18:30:00,America/New_York
2,54515546588432327,active,2023-01-24 09:06:42.605777 UTC,6.0,08:00:00,18:30:00,America/New_York
3,54515546588432327,active,2023-01-24 09:06:42.605777 UTC,5.0,08:00:00,18:30:00,America/New_York
4,54515546588432327,active,2023-01-24 09:06:42.605777 UTC,2.0,08:00:00,18:30:00,America/New_York

In [17]:
df_merged["timestamp_utc"] = pd.to_datetime(df_merged["timestamp_utc"])

In [18]:
df_merged["start_time_local"] = pd.to_datetime(df_merged["start_time_local"])

In [19]:
df_merged["end_time_local"] = pd.to_datetime(df_merged["end_time_local"])

In [20]:
df_merged.head()

,store_id,status,timestamp_utc,day,start_time_local,end_time_local,timezone_str
0,8419537941919820732,active,2023-01-22 12:09:39.388884+00:00,NaN,NaT,NaT,NaN
1,54515546588432327,active,2023-01-24 09:06:42.605777+00:00,0.0,2023-04-30 08:00:00,2023-04-30 18:30:00,America/New_York
2,54515546588432327,active,2023-01-24 09:06:42.605777+00:00,6.0,2023-04-30 08:00:00,2023-04-30 18:30:00,America/New_York
3,54515546588432327,active,2023-01-24 09:06:42.605777+00:00,5.0,2023-04-30 08:00:00,2023-04-30 18:30:00,America/New_York
4,54515546588432327,active,2023-01-24 09:06:42.605777+00:00,2.0,2023-04-30 08:00:00,2023-04-30 18:30:00,America/New_York

In [21]:
df_merged.shape

(11823058, 7)

In [22]:
## creating a sql table
engine = create_engine('sqlite:///store_monitoring.db', echo=False)

In [ ]:
df_merged.to_sql('store_monitoring_data', con=engine, if_exists='replace', index=False)

In [ ]:
def compute_uptime_downtime(store_id, tz_str):
    # Get the start and end times of the current week
    current_time = pd.Timestamp.utcnow().tz_localize(pytz.utc)
    start_of_week = current_time - pd.Timedelta(days=current_time.dayofweek)
    end_of_week = start_of_week + pd.Timedelta(days=7)
    
    # Get the timezone object
    tz = pytz.timezone(tz_str)
    
    # Get the store data for the current week
    conn = engine.connect()
    df_store = pd.read_sql(f"SELECT * FROM store_monitoring_data WHERE store_id='{store_id}' AND timestamp_utc>='{start_of_week}' AND timestamp_utc<'{end_of_week}'", con=conn)
    conn.close()
    
    # Get the business hours for the store
    df_hours = df_business_hours[df_business_hours["store_id"]==store_id].reset_index(drop=True)
    
    # If there is no business hours data, assume the store is open 24/7
    if len(df_hours) == 0:
        df_hours = pd.DataFrame({
            "store_id": [store_id],
            "dayOfWeek": list(range(7)),
            "start_time_local": pd.Timestamp("00:00:00").tz_localize(tz),
            "end_time_local": pd.Timestamp("23:59:59").tz_localize(tz)
        })
    
    # Compute the uptime and downtime within business hours
    uptime = 0
    downtime = 0
    for index, row in df_hours.iterrows():
        start_time = row["start_time_local"]
        end_time = row["end_time_local"]
        weekday = row["dayOfWeek"]
        df_weekday = df_store[df_store["timestamp_utc"].dt.weekday == weekday]
        
        if len(df_weekday) == 0:
            downtime += (end_time - start_time).total_seconds() / 60
            continue
        
        df_weekday = df_weekday.sort_values(by="timestamp_utc")
        df_weekday = df_weekday.reset_index(drop=True)
        
        if df_weekday.iloc[0]["status"] == "inactive":
            df_weekday.iloc[0]["timestamp_utc"] = pd.Timestamp(df_weekday.iloc[0]["timestamp_utc"].strftime("%Y-%m-%